<div [class.hide]="!loggedIn" style="height:100%">


  <ion-header>
    <ion-navbar>
      <ion-buttons left>
        <button ion-button icon-only menuToggle="left">
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Catergories</ion-title>

    </ion-navbar>
  </ion-header>

  <ion-content padding>
<!--    <ul>
      <li *ngFor="let i of category | async">
        <p>
        {{ i.name }}
        </p>
      </li>
    </ul> -->
    <ion-card *ngFor="let i of category | async" (click)="servicesByCategory(i)">
        <ion-card-content>
          <ion-card-title>
        
               {{i.name}}
 
          </ion-card-title>
          <ion-card-content>
            <p>
              
           </p>
          </ion-card-content> 
      
        </ion-card-content>
       </ion-card>


  </ion-content>


</div>
