page-home {

    ion-card-title { background-color: #def;
                     text-align: center;
                     }
    ion-card-content { background-color: #def; }

    ion-card-content:hover { cursor: pointer; }



}


