<ion-header>
  <ion-navbar>
    <ion-title>Create your User Account.</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="signUpForm" (ngSubmit)="createUser()">
    <ion-list>
      <ion-item>
        <ion-label class="red" stacked>First Name *</ion-label>
        <ion-input type="text" formControlName="firstname"></ion-input>
      </ion-item>
      <ion-item class="form-error-list" *ngIf="signUpForm.controls.firstname.dirty && !signUpForm.controls.firstname.valid">
        <p class="form-error" item-right *ngIf="signUpForm.controls.firstname.hasError('required')">
          This is a required field.
        </p>
      </ion-item>
      <ion-item>
        <ion-label class="red" stacked>Last Name *</ion-label>
        <ion-input type="text" formControlName="lastname"></ion-input>
      </ion-item>
      <ion-item class="form-error-list" *ngIf="signUpForm.controls.lastname.dirty && !signUpForm.controls.lastname.valid">
        <p class="form-error" item-right *ngIf="signUpForm.controls.lastname.hasError('required')">
          This is a required field.
        </p>
      </ion-item>
      <ion-item>
        <ion-label stacked>Phone *</ion-label>
        <ion-input type="tel" formControlName="phone" mask="999-999-9999" placeholder="Phone" ></ion-input>
      </ion-item>
      <ion-item class="form-error-list" *ngIf="signUpForm.controls.phone.dirty && !signUpForm.controls.phone.valid">
        <p class="form-error" item-right *ngIf="signUpForm.controls.phone.hasError('required')">
          This is a required field.
        </p>
      </ion-item>

      <ion-item>
        <ion-label class="red" stacked>Email *</ion-label>
        <ion-input #email type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item class="form-error-list" *ngIf="signUpForm.controls.email.dirty && !signUpForm.controls.email.valid">
        <p class="form-error" item-right *ngIf="signUpForm.controls.email.hasError('required')">
          This is a required field.
        </p>
        <p class="form-error" item-right *ngIf="signUpForm.controls.email.hasError('email') && !signUpForm.controls.email.hasError('required')">
          Enter valid email.
        </p>
      </ion-item>

      <ion-item>
        <ion-label class="red" stacked>Password *</ion-label>
        <ion-input #password type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item class="form-error-list" *ngIf="signUpForm.controls.password.dirty && !signUpForm.controls.password.valid">
        <p class="form-error" item-right *ngIf="signUpForm.controls.password.hasError('required')">
          This is a required field.
        </p>
        <p class="form-error" item-right *ngIf="signUpForm.controls.password.hasError('minlength')">
          Password must have more than 5 characters
        </p>
      </ion-item>

      <ion-item>
        <ion-label class="red" stacked>Confirm password *</ion-label>
        <ion-input type="password" formControlName="passwordConfirmation"></ion-input>
      </ion-item>
      <ion-item class="form-error-list" *ngIf="signUpForm.controls.passwordConfirmation.dirty && !signUpForm.controls.passwordConfirmation.valid">
        <p class="form-error" item-right *ngIf="signUpForm.controls.passwordConfirmation.hasError('required')">
          This is a required field.
        </p>
        <p class="form-error" item-right *ngIf="signUpForm.controls.passwordConfirmation.hasError('minlength')">
          Password must have more than 5 characters
        </p>
        <p class="form-error" item-right *ngIf="signUpForm.hasError('notSame', 'passwords')">
          Password do not match
        </p>


      </ion-item>
      <ion-item class="form-error-list" *ngIf="signUpForm.hasError('notSame') && signUpForm.controls.passwordConfirmation.dirty && signUpForm.controls.passwordConfirmation.valid && signUpForm.controls.password.dirty && signUpForm.controls.password.valid">
        <p class="form-error" item-right>
          Password do not match
        </p>
      </ion-item>

    </ion-list>
    <button type="submit" full ion-button block color="secondary" [disabled]="!signUpForm.valid">Sign up</button>
  </form>
</ion-content>
